
{{> steps}}
<div class="container my-5">
    <main>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">{{itemsCount}}</span>
                </h4>
                <ul class="list-group mb-3">
                    {{#each items}}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div style="max-height: 60px; overflow: hidden;">
                            <h6 class="my-0">{{item.name}}</h6>
                            <small class="text-muted">
                                {{item.summary}}
                            </small>
                        </div>
                        <span class="text-muted">
                            ${{item.price}} x {{quantity}} = <strong>{{price}}</strong>
                        </span>
                    </li>
                    {{/each}}
                    
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">−$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>${{totalPrice}}</strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation"
                    id="shippingInfo"
                    action="/cart/payment"
                    method="POST">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" 
                                    class="form-control" 
                                    id="firstName" 
                                    placeholder="Your first name..." 
                                    value=""
                                    name="firstName"
                                    required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" 
                                    class="form-control" 
                                    id="lastName" 
                                    placeholder="Your lastname..." 
                                    value=""
                                    name="lastName"
                                    required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            <input type="email" 
                                    class="form-control" 
                                    id="email"
                                    name="email"
                                    placeholder="you@example.com"
                                        required>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="phone" class="form-label">Phone <span class="text-muted"></span></label>
                            <input type="phone" 
                                    class="form-control" 
                                    id="phone"
                                    name="phone"
                                    placeholder="012-345-6789" 
                                    required>
                            <div class="invalid-feedback">
                                Please enter a valid phone for shipping phone contact.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" 
                                    class="form-control" 
                                    id="address"
                                    name="address"
                                    placeholder="1234 Main St" 
                                    required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select"
                                name="country" 
                                id="country" 
                                required>
                                <option value="">Choose...</option>
                                <option value="USA">United States</option>
                                <option value="VNA">Vienamese</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" 
                                    id="state"
                                    name="state" 
                                    required>
                                <option value="">Choose...</option>
                                <option value="California">California</option>
                                <option value="TPHCM">Ho Chi Minh City</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" 
                                class="form-control" 
                                id="zip"
                                name="zip"
                                placeholder="700000"
                                required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">Shipping address is the same as my billing
                            address</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">Save this information for next time</label>
                    </div>

                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" 
                        type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>
    </main>
</div>